    <section style="margin-top: 5vh;">
      <div class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">           
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="/vendor/images/tana.jpg" alt=""/>
              </div>

              <div class="item">
                <img src="/vendor/images/tana2.jpg" alt=""/>
              </div>

              <div class="item">
                <img src="/vendor/images/tana3.jpg" alt=""/>
              </div>
            </div>
          </div>
        </div>
    </section> <!-- End of Section -->
    <header style="position: absolute; top: -2vh; width: 100%;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" style="background-color: transparent;">
              <img src="/vendor/images/logo2.PNG" alt="logo" height="100vh" width="300vh">
            </a>
          </div>  <!-- End of /.col-md-12 -->
        </div>  <!-- End of /.row -->
      </div>  <!-- End of /.container -->
    </header> <!-- End of /Header -->
    <section id="call-to-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="block-heading">
                  <a data-toggle="modal" data-target="#myModal" href="#">
                    <h2 style="color: #222;">
                        S'authentifier
                    </h2>
                  </a>
              </div>
            </div>  <!-- End of /.block -->
          </div>  <!-- End of /.col-md-12 -->
        </div> <!-- End Of /.Row -->
      </div> <!-- End Of /.Container -->
      <div class="container" style=" margin-top: 0px; margin-bottom: -5vh;">
        <div class="row">
          <div class="col-md-12">
            <div id="owl-example" class="owl-carousel">
              <div style="background-color: rgba(0,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Réclamations contentieuses</h5>
              </div>
              <div style="background-color: rgba(50,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Réclamations gracieuses</h5>
              </div>
              <div style="background-color: rgba(100,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Demande de sursis de paiement </h5>
              </div>
              <div style="background-color: rgba(150,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Opposition au titre de perception</h5>
              </div>
              <div style="background-color: rgba(200,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Opposition aux actes de poursuites </h5>
              </div>
              <div style="background-color: rgba(150,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Réclamations contentieuses</h5>
              </div>
              <div style="background-color: rgba(100,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Réclamations gracieuses</h5>
              </div>
              <div style="background-color: rgba(50,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Demande de sursis de paiement </h5>
              </div>
              <div style="background-color: rgba(100,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Opposition au titre de perception</h5>
              </div>
              <div style="background-color: rgba(150,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Opposition aux actes de poursuites </h5>
              </div>
              <div style="background-color: rgba(200,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Réclamations contentieuses</h5>
              </div>
              <div style="background-color: rgba(150,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Réclamations gracieuses</h5>
              </div>
              <div style="background-color: rgba(100,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Demande de sursis de paiement </h5>
              </div>
              <div style="background-color: rgba(50,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Opposition au titre de perception</h5>
              </div>
              <div style="background-color: rgba(100,50,150,0.5); border:solid; border-color: grey; border-radius: 10%; text-align: center; margin-left: 5px; margin-right: 5px; height: 15vh;">
                <h5 style="color: #fff;">Opposition aux actes de poursuites </h5>
              </div>
            </div>  <!-- End of /.Owl-Slider -->
          </div>  <!-- End of /.col-md-12 -->
        </div> <!-- End Of /.Row -->
      </div> <!-- End Of /.Container -->
    </section>  <!-- End of Section -->
    


<!-- MODAL Start ================================================== -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
          <div class="container" style="width: 100%; text-align: center;">
              <h3>Authentification</h3>
              <div class="form_content clearfix">
                <br>
                <p><input onchange="inputIdentifiant(this)" placeholder="Entrer ici votre identifiant DGI"  type="text" id="code" name="email_create" value="" class="account_input" style="width: 80%;"></p>
                <p><input onchange="inputNif(this)" placeholder="Entrer ici votre NIF"  type="text" id="code" name="email_create" value="" class="account_input" style="width: 80%;"></p>
                <p>NIF : Numéro d'Identification Fiscale</p>
                <button class="btn btn-primary" onclick="submi()" data-dismiss="modal">S'authentifier</button> 
                
                <div style="display: none;">                 
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" , :id=>"mail" %>
                    </div>

                    <div class="field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "current-password" , :id=>"nif" %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>

                    <div class="actions">
                      <%= f.submit "Log in" %>
                    </div>
                  <% end %>
                  <% render "devise/shared/links" %> 
                </div>

              </div>
          </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
      </div>
  </div>  

<script type="text/javascript">
  
  function inputIdentifiant(inp) {

    <% User.all.each do |user| %>
      if (inp.value == "<%= user.identifian %>") {
        document.getElementById('mail').value = "<%= user.email %>";
      }
    <% end %>
  }

  function inputNif(inp) {
    document.getElementById('nif').value = inp.value;
  }

  function submi() {
    document.getElementById('new_user').submit() ;
  }

</script>